<h1>Login</h1>
  <div class="w3ls-login box box--big">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="agile-field-txt">
        <label><i class="fa fa-envelope" aria-hidden="true"></i> Email </label>
        <!-- <input type="text" name="name" placeholder="Enter your name " required="" /> -->
         <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
      </div>
      <div class="agile-field-txt">
        <label><i class="fa fa-key" aria-hidden="true"></i> password </label>
        <!-- <input type="password" name="password" placeholder="Enter your password " required="" id="myInput" /> -->
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password"  %>
        <div class="agile_label">
          <input id="check3" name="check3" type="checkbox" value="show password" onclick="myFunction()">
          <%#= f.check_box :remember_me %>
          <label class="check" for="check3">Show password</label>
        </div>
      </div>
      <div class="w3ls-bot">
        <div class="switch-agileits">
          <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
            keep me signed in
          </label>
        </div>
        <div class="form-end">
          <input type="submit" value="LOGIN">
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="agile_label ">
          <%= render "users/shared/links" %>
      </div>
  </div>

<% end %>

<script>
  function myFunction() {
    var x = document.getElementById("user_password");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }
</script>