<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<h1>Welcome!<span>Please login...</span></h1>
<div class="login-box">
    <form>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password"  %>
    </form>
    <div class="remember">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
    <div class="clear"> </div>
    <div class="btn">
      <input type="submit" value="LOG IN"/>
    </div>
    <div class="clear"> </div>
</div>

<% end %>