/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
.custom-link {
    position: relative;
    margin-top: 12px;
    display: inline-block;
    height: 28px;
    padding-left: 1em;
    cursor: pointer;
    color: #fff;
}

.clearfix {
    clear: both;
}

/*--start editing from here--*/

a {
    text-decoration: none;
}

.txt-rt {
    text-align: right;
}

/* text align right */

.txt-lt {
    text-align: left;
}

/* text align left */

.txt-center {
    text-align: center;
}

/* text align center */

.float-rt {
    float: right;
}

/* float right */

.float-lt {
    float: left;
}

/* float left */

.pos-relative {
    position: relative;
}

/* Position Relative */

.pos-absolute {
    position: absolute;
}

/* Position Absolute */

.vertical-base {
    vertical-align: baseline;
}

/* vertical align baseline */

.vertical-top {
    vertical-align: top;
}

/* vertical align top */

nav.vertical ul li {
    display: block;
}

/* vertical menu */

nav.horizontal ul li {
    display: inline-block;
}

/* horizontal menu */

img {
    max-width: 100%;
}

/*--end reset--*/

body {
	font-family: 'Poppins', sans-serif;
    font-size: 100%;
    background: url(2.jpg)no-repeat center top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.w3ls-login {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

h1 {
    font-size: 3.2em;
    text-transform: capitalize;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    letter-spacing: 3px;
    margin: .8em 1vw;
    text-align: center;
}

.w3ls-login form {
    max-width: 500px;
    margin: 0 5vw;
    border-radius: 8px;
    background: transparent;
    padding: 3.5vw;
    border: solid #fff;
    border-width: 5px;
    box-sizing: border-box;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

.w3ls-login label {
    font-size: 14px;
    color: #fff;
    float: left;
    text-align: left;
    margin-bottom: 5px;
    text-transform: capitalize;
    letter-spacing: 2px;
    cursor: pointer;
}

.agile-field-txt {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
    margin-bottom: 1.5em;
}

.w3ls-login label i {
    font-size: 1.1em;
    margin-right: 3px;
    color: #fd5c63;
}
.w3ls-login input[type="email"],
.w3ls-login input[type="text"],
.w3ls-login input[type="password"] {
    width: 100%;
    color: #333;
    outline: none;
    font-size: 15px;
    letter-spacing: 1px;
     border-radius: 8px;
    padding: 15px;
    box-sizing: border-box;
    border: none;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.49);
    -webkit-appearance: none;
    background: #fff;
	font-family: 'Poppins', sans-serif;
}

.check1 {
    text-align: left;
}

label.check {
    float: none;
}

.agile_label {
    text-align: left;
    margin: 10px 0 0;
}

.w3ls-login.w3l-sub {
    margin-top: 1em;
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
}

.w3ls-login input[type=submit] {
    width: 100%;
    padding: 0.5em 0;
    font-size: 1.1em;
    letter-spacing: 2px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    border: 2px solid #fd5c63;
    background: #fd5c63;
    color: #fff;
	margin-top:1em;
    outline: none;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
	font-family: 'Poppins', sans-serif;
}

.w3ls-login input[type=submit]:hover {
    background: transparent;
	border: 2px solid #fff;
    color: #fff;
}

.w3ls-bot {
    width: 100%;
}

/* switch */

label.switch {
    position: relative;
    display: inline-block;
    height: 23px;
    padding-left: 5em;
    cursor: pointer;
    color: #fff;
}

li:nth-child(2) a,
label.switch {
    text-transform: capitalize;
    font-size: 14px;
    letter-spacing: 2px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 22%;
    background-color: #999;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #fd5c63;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* //switch */

.switch-agileits {
    width: 100%;
    float: left;
}

.form-end {
}

/*--copyright--*/

.copy-wthree {
    margin: 4em 0 2em;
}

.copy-wthree p {
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.8;
    margin: 0 3vw;
}

.copy-wthree p a {
    color: #fd5c63;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}

.copy-wthree p a:hover {
    color: #fff;
}

/*--//copyright--*/

/*--responsive--*/

@media(max-width:1920px) {
    h1 {
        font-size: 3.5vw;
    }
}

@media(max-width:1024px) {
    h1 {
        font-size: 4.5vw;
    }
}

@media(max-width:800px) {
    h1 {
        font-size: 5vw;
    }
}

@media(max-width:480px) {
    h1 {
        font-size: 2.5em;
    }
    .w3ls-login form {
        padding: 7.5vw;
    }
	.w3ls-login input[type="email"],
    .w3ls-login input[type="password"],
    .w3ls-login input[type="text"] {
		padding: 13px 15px;
	}
	.w3ls-login input[type=submit] {
		padding: 0.4em 0;
		font-size: 1em;
	}
}

@media(max-width:440px) {
    h1 {
        font-size: 2.3em;
    }
    .parent {
        display: block;
    }

}

@media(max-width:320px) {
    h1 {
        font-size: 1.8em;
    }
    .w3ls-login form {
        padding: 25px 8px;
    }
}

/*--//responsive--*/