	<div class="header-outs">
		<div id="snow"></div>
		<header>
			<div class="container-fluid px-lg-5 ">
				<nav class="mnu mx-auto">
				<label for="drop" class="toggle">Menu</label>
				<input type="checkbox" id="drop">
					<ul class="menu">
						<li class="mr-lg-0"><a href="#">Home</a></li>
						<li class="mr-lg-0"><a href="#">About</a></li>
						<li class="mr-lg-0"><a href="#">Services</a></li>
						<li class="mr-lg-0"><a href="#">Gallery</a></li>
						<li class="mr-lg-0"><a href="#">Testimonials</a></li>
						<li class="mr-lg-0"><a href="#" class="scroll">Events</a></li>
						<li><a href="#contact">Contact</a></li>
						<% if user_signed_in? %>
						<li class="mr-lg-0">
						<%= link_to('Logout', destroy_user_session_path, method: :delete) %>
						<!-- <li><a href="#{destroy_user_session_path, method: :delete}">Logout</a></li>        -->
						</li>
						<% else %>
						<li class="mr-lg-0">
						<%= link_to('Login', new_user_session_path)  %>
						<!-- <li><a href="#{new_user_session_path}">Login</a></li> -->
						</li>
						<% end %>
					</ul>
				</nav>
			</div>
		</header>

		<div class="style-banner">
			<h1>christmas party</h1>
			<p class="mt-3">Wishing You A Happy Christmas</p>
		</div>
	</div>
		<div class="cpy-right text-center py-3">	
			<p>© 2018 Avinash Group. All rights reserved | Design by
				<a href="http://avinashmehta.herokuapp.com"> Avinash.</a>
			</p>
		</div>
<script>
 addEventListener("load", function () {
 	setTimeout(hideURLbar, 0);
 }, false);
 
 function hideURLbar() {
 	window.scrollTo(0, 1);
 }
</script>