<h1>Forgot your password?</h1>
  <div class="w3ls-login box box--big">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
      <div class="agile-field-txt">
        <label><i class="fa fa-envelope" aria-hidden="true"></i> Email </label>
         <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
      </div>
      <div class="w3ls-bot">
        <div class="form-end">
          <input type="submit" value="Send me reset password instructions">
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="agile_label">
            <%= render "users/shared/links" %>
      </div>
     
  </div>
<% end %>