<!DOCTYPE html>
<html>
  <head>
    <title>Website</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Clear login Form a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">

    <script>
      addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
      }, false);

      function hideURLbar() {
        window.scrollTo(0, 1);
      }
    </script>

    <%= stylesheet_link_tag    'login', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'login', 'data-turbolinks-track': 'reload' %>

    <meta name="keywords" content="Ribbon Login Form Responsive Templates, Iphone Compatible Templates, Smartphone Compatible Templates, Ipad Compatible Templates, Flat Responsive Templates"/>
    <!-- <link href="css/style.css" rel='stylesheet' type='text/css' /> -->
    <!--webfonts-->
<!--     <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext" rel="stylesheet"> -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'> -->
  </head>

  <body>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>

<script type="text/javascript">
  $(function() {
    var notice = '<%= flash[:notice].present? ? flash[:notice] : "" %>';
    if(notice != '')
    {
      new PNotify({
        title: 'Notice',
        text: notice,
        icon: 'icon-checkmark3',
        type: 'success',
        addclass: 'bg-success'
      });
    }
    var alert = '<%= flash[:alert].present? ? flash[:alert] : "" %>';
    if(alert != '')
    {
      new PNotify({
        title: 'Alert',
        text: alert,
        icon: 'icon-warning2',
        type: 'error',
        addclass: 'bg-warning'
      });
    }
  });
</script>