<h1>Sign Up</h1>
  <div class="w3ls-login box box--big">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="agile-field-txt">
        <label><i class="fa fa-envelope" aria-hidden="true"></i> Email </label>
         <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
      </div>
      <div class="agile-field-txt">
        <label><i class="fa fa-key" aria-hidden="true"></i> password </label>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
       <% end %><br />
       <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password"  %>
      </div>
      <div class="agile-field-txt">
        <label><i class="fa fa-key" aria-hidden="true"></i> password confirmation </label>
         <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password confirmation" %>
      </div>
      <div class="w3ls-bot">
        <div class="form-end">
          <input type="submit" value="Sign Up">
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="agile_label">
            <%= render "users/shared/links" %>
      </div>
     
  </div>
<% end %>

<script>
  function myFunction() {
    var x = document.getElementById("user_password");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }
</script>
